* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background: #F8F8FF;
}
.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid rgb(7, 22, 43);
	border-bottom: none;
	border-radius: 6px 6px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.rd input{
  font-size: 10px;
}
.input-group label {
	display: block;
	text-align: left;
    margin: 3px; 
}
.input-group input {
	height: 10px;
	width: 93%;
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid gray;
}
.input-group1 input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 10px;
     margin-left: 20px;
    position: relative;
    top: 4px;
  }
 .input-group1 input:checked {
    border: 6px solid black;
  }
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
